<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
</head>
<body>
{{message}}
<form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
<!--    <p> <label>{{ form.errors.username }} Username: {{ form.username }}</label> </p>-->
<!--    <p> <label>{{ form.errors.password }} Password: {{ form.password }} </label> </p>-->
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">LogIn</button>
</form>


</body>
</html>