<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<form method="POST" class="post-form" enctype="multipart/form-data" action="">
    {% csrf_token %}
    {% if link == 'edit' %}
        <p><label>First Name: {{form.first_name }}</label></p>
        <p><label>Last Name: {{form.last_name}}</label></p>
        <p><label>Email: {{form.email}} </label></p>
        <p><label>Password: {{form.password1}} </label></p>
        <p><label>Repeat Password: {{form.password2}}</label></p>
        {{ form.errors.first_name }}
        {{ form.errors.last_name }}
        {{ form.errors.email }}
        {{ form.errors.password1 }}
        {{ form.errors.password2 }}

        <button type="submit" class="save btn btn-default">Update</button>
    {% endif %}
    {% if link == 'view' %}
        <a class="btn" href="{% url 'accounts:editprofile' %}">Edit</a>
        <a class="btn" href="{% url 'accounts:logout' %}">LogOut</a>
    {% endif %}

</form>
</body>
</html>

