<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <style>
        form {
            align: center
        }

    </style>
</head>
<body>
    <form method="POST">
      {% csrf_token %}
<!--      {{ form.as_p }}-->
    <p>
        <label>
            {{ form.errors.username }} Username: {{ form.username }}
        </label>
    </p>
    <p>
        <label>
            {{ form.errors.password1 }} Password: {{ form.password1}}
        </label>
    </p>
    <p>
        <label>
            {{ form.errors.password2 }} Repeat Password: {{ form.password2}}
        </label>
    </p>
    <p>
        <label>
            {{ form.errors.email }} Email: {{ form.email}}
        </label>
    </p>
    <p>
        <label>
            {{ form.errors.first_name }} First Name: {{ form.first_name}}
        </label>
    </p>
    <p>
        <label>
            {{ form.errors.last_name }} Last Name: {{ form.last_name}}
        </label>
    </p>
    <p>
        <label></label>
        <input class="btn" type="submit" value="Register">
    </p>
<!--        {% for field in form %}-->
<!--            {{ field }}-->
<!--        {% endfor %}-->

    </form>

<!--    <form method="POST" class="post-form" enctype="multipart/form-data">-->
<!--      {% csrf_token %}-->
<!--        <p><label>First Name: {{form.first_name }}</label></p>-->
<!--        <p><label>Last Name: {{form.last_name}}</label></p>-->
<!--        <p><label>Email: {{form.email}} </label></p>-->
<!--        <p><label>Password: {{form.password1}} </label></p>-->
<!--        <p><label>Repeat Password: {{form.password2}}</label></p>-->
<!--        {{ form.errors.first_name }}-->
<!--        {{ form.errors.last_name }}-->
<!--        {{ form.errors.email }}-->
<!--        {{ form.errors.password1 }}-->
<!--        {{ form.errors.password2 }}-->
<!--     </form>-->

</body>
</html>


