body{
    position: relative
}

/*User Info*/
body .userAccount{
    position: absolute;
    top: 7rem;
    width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 7rem - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow-x: hidden;

}

.userAccount div.aboutMe{
    position: absolute;
    top: 1rem;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;


}

.userAccount div.aboutMe p{
    font-size: 2em;
    font-weight: 600
}

.userAccount div.personalInfo{
    position: absolute;
    top: 3rem;
    width: 70vw;
    height: calc(0.3 * 70vw * 1.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.userAccount div.personalInfo div.portrait{
    position: absolute;
    left: 0px;
    width: 30%;
    height: calc(0.3 * 70vw * 1.1);
    background-image: url("https://media.gq.com.tw/photos/6239445a7e6557df4af61f16/1:1/w_1600%2Cc_limit/site.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}

.userAccount div.personalInfo ul.info{
    position: absolute;
    right: 0px;
    width: 65%;

}

.userAccount div.personalInfo ul.info li{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


}

.userAccount div.personalInfo ul.info li span[class~="one"]{
    width: 40%;
}

/*My Renting Info*/
div.myRenting{
    position: absolute;
    top: calc(0.3 * 70vw * 1.1 + 2rem + 10rem);
    width: 70vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
}

div.myRenting ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

div.myRenting ul span.title{
    font-size: 2em;
    font-family: "inter";
    font-weight: 600;
}

div.myRenting ul img.arrow{
    width: 3em;
}

div.myRenting div.rentingInfo{
    position: absolute;
    top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/*main.userAccount div.myRenting div.rentingInfo div[class~="renting"]{
    display:flex;
    justify-content: center；
    align-content: center
}*/

div.myRenting div.rentingInfo img{
    width: calc(70vw * 0.32);
    height: calc(70vw * 0.32 * 0.8);
}

div.myRenting div.rentingInfo p{
    font-size:1em;
    text-align: center
}

.userAccount div.myRenting div.rentingInfo p:hover{
    text-decoration: underline
}

/*My Property Info*/
div.myProperty{
    position: absolute;
    top: calc(0.3 * 70vw * 1.1 + 2rem + 3rem + 20rem + 3rem);
    width: 70vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;

}

div.myProperty ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

div.myProperty ul span.title{
    font-size: 2em;
    font-family: "inter";
    font-weight: 600;
}

div.myProperty ul img.arrow{
    width: 3em;
}

div.myProperty div.rentingInfo{
    position: absolute;
    top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

div.myProperty div.rentingInfo img{
    width: calc(70vw * 0.32);
    height: calc(70vw * 0.32 * 0.8);
}

div.myProperty div.rentingInfo p{
    font-size:1em;
    text-align: center
}

div.myProperty div.rentingInfo p:hover{
    text-decoration: underline
}

/*My PropertyReservation Info*/
div.myPropertyReservation{
    position: absolute;
    top: 15rem;
    width: 70vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;

}

/*My Reply Info*/
div.replyview{
    position: absolute;
    top: 15rem;
    width: 70vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;

}

div main.comments_for_hotel{
    position: absolute;
    top: 40rem;
    width: 70vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
}

div main.mycomments{
    position: absolute;
    top: 20rem;
    width: 70vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
}

div main.comments_on_me{
    position: absolute;
    top: 40rem;
    width: 70vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
}

div main.comments_on_my_hotels{
    position: absolute;
    top: 60rem;
    width: 70vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
}

div main.searchResults{
    position: absolute;
    top: 10rem;
    width: 70vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
}

div ul.pagesHandler{
    display: flex;
    flex-direction: row
}

@media screen and (min-width: 480px){
    div.myProperty ul form{
        position: relative;
        height: calc(65px + 128px + 200px + 5em + 2em + 20em + 3em);
        overflow-y: scroll;
        display:flex;
        flex-direction: column
        /* border: 1px solid red */
    }
}


