
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bank View All</title>
</head>
<body>
    <table>
    <tr>
        <th>Bank Id</th>
        <th>Bank Name</th>
    </tr>
    {% for bank in banks %}
    <tr>
        <td>{{ bank.id}} </td>
        <td>{{bank.name}}</td>
     </tr>
    {% endfor %}
</table>

</body>
</html>